.MuiButton-containedPrimary {
  color: #fff;
  background-color: #ce4954 !important;
}

.MuiButton-fullWidth {
  width: 100%;
  height: 50px;
}
.signup-logo-section {
  display: inline-grid;
  margin: 10px 0px;
  width: 100%;
}
.dror-logo {
  width: 50%;
  margin: 0px;
}

.signup-title {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 10px 0px;
}

.MuiFormLabel-root.Mui-focused {
  color: #ce4954 !important;
}

.signup-img {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 0 0 20px;
  display: none;
}
.account_circle {
  width: 100%;
  height: 16px;
  display: inline-flex;
  color: #ce4954;
}
.account_circle span {
  padding: 5px 10px;
}
.work-icon {
  width: 100%;
  height: 16px;
  display: inline-flex;
  color: #ce4954;
}
.work-icon span {
  padding: 5px 10px;
}
.phone-number {
  border: 1px solid #c4c4c4 !important;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}
.form-input-field {
  font-size: 14px;
}

.input-class-phone {
  border: 1px solid red;
}

.MuiInput-root {
  position: relative;
  padding-bottom: 2px;
}

.signin-logo {
  width: 100%;
}
.signin-logo .signin-dror-logo {
  width: 50%;
  position: relative;
  left: 20%;
}
.signin-title {
  font-size: 14px;
  text-align: center;
}
.forgot-class {
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .signup-img {
    display: block;
  }
}
.error-class {
  text-align: center;
  color: red;
}
